*{
    margin:0;
    box-sizing:border-box;
}

body {
    font-size: 1.5rem;
    line-height: 2rem;
    color: brown;
    margin:0;
    font-family:sans-serif
}
.hero{
    width:100vw;
    height:100vh;
    display:flex;
    justify-content:right;
    align-items:right;
    text-align:right;
    color:#fff;
    background-image:linear-gradient(to right, rgba(255, 255, 255, 0),rgb(255, 255, 255)),
    url('../img/Marina-DeBris.jpg');
    background-size:cover;
    background-position:center center;
    background-repeat:no-repeat;
    background-attachment:fixed
}
    
.hero h1{
    margin-right: 2.5em;
    color: rgb(10, 10, 10);
    text-shadow: 2rem;
    font-size:3.5em;
    margin: top 5em;
    margin-bottom:.5em
}
.hero h2{
    margin-right: 6em;
    color: rgb(10, 10, 10);
    text-shadow: 2rem;
    margin: top 5em;
    margin-bottom:.5em
}
    
h1{
    margin-bottom: 2rem;
    font-size: medium;
    
    text-size-adjust: 50rem;
}

p{
    margin-bottom: 1.5rem;
}

header {
    background: linear-gradient(to bottom,rgb(255, 255, 255),rgb(245, 245, 245));
    color: rgb(212, 212, 212);
    height: 90px;
    padding: 0%;
    position: fixed;
    left: 0;
    right: 14.5px;
    top: 0;
    
    display: flex;
    justify-content: center;
    align-items: center;
}
header a {
    color: rgb(8, 8, 8);
    text-decoration: none;
}

.logo{
    transition: all 0.1s linear;
}

.logo:hover{
    letter-spacing: .5rem;
    font-size: 2.3rem;
    transition: all 0.1s linear;
}


.container {
    width: 85%;
    margin: auto;
    background: grey
}

.logo-nav-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav ul {
    margin: 0;
    padding: 0;
    list-style: none;
}
nav ul li {
    display: inline-block;
}
nav ul li a {
    display: block;
    padding-inline: .5rem 1rem;
    border-radius: 20px;
}
nav ul li a:hover {
    font-size: 1.8rem;
    transition: all 0.1s linear;
}

main{
  scroll-snap-type: y mandatory;
  overflow-y:scroll;
  height:100vh;

}

section{
  scroll-snap-align:start;
  height:100vh;
  background:yellow;
  display:flex;
  justify-content:center;
  align-items:center;
}