*{
    margin:0;
    box-sizing:border-box;
}

body {
    font-size: 1.5rem;
    line-height: 2rem;
    color: brown;
}

h1{
    margin-bottom: 2rem;
}

p{
    margin-bottom: 1.5rem;
}

header {
    background: brown;
    color: antiquewhite;
    height: 50px;

    position: fixed;
    left: 0;
    right: 14.5px;
    top: 0;
    
    display: flex;
    justify-content: center;
    align-items: center;
}
header a {
    color: antiquewhite;
    text-decoration: none;
}

.logo{
    letter-spacing: .5rem;
    font-size: 2rem;
    transition: all 0.1s linear;
}

.logo:hover{
    letter-spacing: .5rem;
    font-size: 2.3rem;
    transition: all 0.1s linear;
}

.container {
    width: 85%;
    margin: auto;
    background: grey
}

.logo-nav-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav ul {
    margin: 0;
    padding: 0;
    list-style: none;
}
nav ul li {
    display: inline-block;
}
nav ul li a {
    display: block;
    padding-inline: .5rem 1rem;
    border-radius: 20px;
}
nav ul li a:hover {
    font-size: 1.8rem;
    transition: all 0.1s linear;
}

main{
  scroll-snap-type: y mandatory;
  overflow-y:scroll;
  height:100vh;

}

section{
  scroll-snap-align:start;
  height:100vh;
  background:yellow;
  display:flex;
  justify-content:center;
  align-items:center;
}