@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}
:root{
    --color-1: #100a45;
    --color-2: #79187a;
    --color-3: #24b0ff;
    --color-4: #bbecf9;
    --color-5: #fffbf4;
    --color-6: rgb(121, 24, 122, 0.3);
    --vw: calc(100vw - 1vw);
    --minv: calc(90vmin - 1vw);
}

body{
    color: var(--color-1);
}

/*===menu===*/
.navigation{
    position: fixed;
    width: var(--vw);
    background-color: var(--color-6);
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-row: auto auto;
}

/*BOTON-HAMBURGUESA*/
.menu_toggle{
    width: 38px;
    height: 38px;
    margin: 7px;
    align-self: center;

    display: flex;
    align-items: center;
    cursor: pointer;
}
.menu_toggle::before{
    content: '';
    position: absolute;
    width: 38px;
    height: 3px;
    background-color: var(--color-5);
    transform: translateY(-12px);
    transition: 500ms;
}
.menu_toggle::after{
    content: '';
    position: absolute;
    width: 38px;
    height: 3px;
    background-color: var(--color-5);
    transform: translateY(12px);
    transition: 500ms;
    box-shadow: 0 -12px var(--color-5);
}
.navigation.active .menu_toggle::before{
    transform: translateY(0) rotate(45deg);
}
.navigation.active .menu_toggle::after{
    transform: translateY(0) rotate(-45deg);
    box-shadow: 0 0 var(--color-5);
}


/*El Resto*/
.head{
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--color-5);
    grid-column: 2;
}
.head h2{
    font-size: 1.4rem;
}
.logo{
    height: 52px;
    margin: .5rem;
    filter: invert(100%) sepia(23%) saturate(1130%) hue-rotate(26deg) brightness(113%) contrast(107%);
}

.nav_list{
    
    margin: 1rem;
    place-self: center;
    list-style: none;
    grid-row: 2;
    grid-column: 1/4;
    display: flex;
    justify-content: space-evenly;
    align-items: center;

    display: none;
}
.navigation.active .nav_list{
    width: calc(var(--minv) - 2rem);
    display: flex;}
.nav_link{
    color: var(--color-5);
    text-decoration: none;
    padding: .3rem;
    font-size: 1.5rem;
}
.nav_link:hover{
    color: var(--color-4);
    font-size: 1.4rem;
}


/*===scroll+cuerpo===*/
.container{
    scroll-snap-type: y mandatory;
    overflow-y: scroll;
    height: 100vh;
}

.hero{
    scroll-snap-align: start;
    width:var(--vw);
    height:100vh;
    display:flex;
    justify-content:center;
    align-items:center;
    text-align:right;
    color: var(--color-1);
    background-image:linear-gradient(to right, rgba(255, 255, 255, 0.30),var(--color-5)),url('../img/hero.jpg');
    background-size:cover;
    background-position:center center;
    background-repeat:no-repeat;
    background-attachment:fixed
}
.hero_inner{
    width: var(--minv);
    padding: .5rem;
}
.hero h1{
    font-size: 12vmin;
    font-weight: 900;
}
.hero h2{
    font-size: 9vmin;
    font-weight: 700;
}


main{
    background-color: var(--color-4);
}

section{
    scroll-snap-align: start;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

article{
    background-color: var(--color-3);
    width: var(--minv);
    height: auto;
    padding: 1rem;
}

footer{
    background-color: var(--color-1);
    scroll-snap-align: start;
    height: 100vh;

    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    font-size: 1.5rem;
    font-weight: 100;
    color: var(--color-5);
}
footer h3{
    font-weight: 300;
}
footer a{
    color: var(--color-5);
    text-decoration: none;
}
footer a:hover{
    color: var(--color-4);
}



/*Panllas S*/
@media screen and (max-width: 720px){
     /*===menu===*/
     /*El Resto*/
     .nav_list{
    align-items: center;
    flex-direction: column;}
}
/*Pantalla XS*/
@media screen and (max-width: 480px), (max-height: 480px){
    .navigation{
        margin: .9rem;
        width: auto;
        border-radius: 8px;
        grid-template-columns: repeat(2, AUTO);
    }
    .head{
        display: none;
    }
    .navigation.active .head{
        width: auto;
        display: flex;
    }
    .nav_list{
        width: auto;
        grid-column: 1/3;
    }
}

/* scrollbar */
/* width */
::-webkit-scrollbar{
    width: 1vw;
  }
  
  /* Track */
  ::-webkit-scrollbar-track{
    background: #f1f1f1;
  }
   
  /* Handle */
  ::-webkit-scrollbar-thumb{
    background: #888;
    border-radius: 7px;
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover{
    background: #555; 
  }